body{
    margin: 0;
    padding: 0;
    border: 0;
}
a{
    color: black;
    text-decoration:none;
}

.header{
    height: 24px;
    font-family: 'Kosugi', sans-serif;
    font-size: 20px;
    background-color: hsl(66, 100%, 90%);
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px ;



}
.header_item{
    padding: 10px 10px;
}
.header_item:hover{
    background-color: #f1df8c;
    border-radius: 8px;
}

.button {
    background-color: #a38fda;
    border-radius: 40px;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    margin: auto;
  }

.wrapper{
    display: grid;
  /* Автоматически заполняем на всю ширину grid-контейнера */
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 1000px; /* Ширина grid-контейнера */
  justify-content: center;
  justify-items: center; /* Размещаем карточку по центру */
  column-gap: 120px; /* Отступ между колонками */
  margin: 0 auto;

}
.card {
    background-color: #f1df8c;
    width: 260px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 8px 8px 35px #a38fda;
    margin: auto;
    margin-top: 100px;

}
.card-img {
    width: 260px;
    height: 200px;
    justify-content: center;
    display: block;
    border-radius: 10px;
}
.card-title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
}
.card-sub{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
}
.btn-card{
    margin-top: 16px;
    text-align: center;
}
.btn {
    background-color: #a38fda;
    padding: 8px 12px;
    border-radius: 8px;
}
.btn:hover {
    background-color: #6037d1;
}